.header {
    background-color: black;
    color: white;
    padding: 0.5em 0;
    text-align: center;
}

h2 {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    padding: 0.2em 0 0 1em;
}

p {
    float: left;
    padding: 0 0 0 1.3em;
    width: 80%
}

#bodyClass {
    background: lightblue;
}

.section-left {
    float: left;
    width: 50%;
    padding: 20px;
}

.section-right {
    float: right;
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    margin: 0 3em;

}

footer { 
    float: left;
    width: 50%;
}

.button-container {
    float: left;
    width: 50%;
    margin-bottom: 1em;
}
.button {
    background-color: lightgrey;
    color: black;
    float: left;
    width: 25%;
    margin-left: 1.6em;
    cursor: pointer;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}