.header {
    background-color: black;
    color: white;
    padding: 0.5em 0;
    text-align: center;
}

h2 {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    margin: 1em 0 0 1.2em;
}

p {
    float: left;
    padding: 0 0 0 1.6em;
    width: 80%;
    font-size: 18px;
}

#bodyClass {
    background: lightblue;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}

.section-left {
    float: left;
    width: 50%;
    padding: 20px;
    
}

.section-right {
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin: 0 3em 3em 3em;

}

footer { 
    float: left;
    width: 50%;
    margin: 0 0 0 1.3em;
}

.button-container {
    float: left;
    width: 50%;
    margin-bottom: 1em;
}
.button {
    background-color: lightgrey;
    color: black;
    float: left;
    width: 25%;
    margin-left: 2.1em;
    padding: 4px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

.section-right-chart {
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin: 0 3.3em 3em 3.3em;
}

.section-middle {
    text-align: center;
    width: 47%;
    padding: 0.5em 0.3em 9em 4em;
    margin: 2em 0 3em 22em;
    background-color: lightgray;
    border: 1px solid black;
}

.section-footer {
    text-align: center;
    width: 59%;
    background-color: lightgray;
    border: 1px solid black;
    padding: 1em 0.4em 2em 2em;
    margin: 2em 0 4em 30em;
}

.p-footer {
    text-align: center;
}

.linkedin {
    width: 15%;
    margin: 0 11em;
}